@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.folder{
    background-color: #FFFFFF;
   nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    .nav-item{
        color: #696F79;
        font-family: 'Poppins', sans-serif;
       
        .logo{
            font-size: 30px;
             font-weight: 700;
        }
        input{
            width: 350px;
            height: 26px; 
            padding: 20px;
            
            border-radius: 30px;
            border: none;

            font-size: 16px;
            


        } input:focus {
            border: none ;
        }
        button{
        background-color: #8692A6;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        
        width: 150px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 25px;
        border: none;
        }
        
    }
   }
   aside{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
         a{
            width: 350px;
            height: 40px;
            text-decoration:none;

            button{
                width: 100%;
                height: 100%;

                border-radius: 20px;
                border: none;

                color: #696F79;
                 font-size: 18px;
            }
         }
         .active{
            width: 350px;
            height: 40px;
            text-decoration:none;
            background-color: #696F79;
                color: #FFFFFF;
            button{
                width: 100%;
                height: 100%;

                border-radius: 20px;
                border: none;

                background-color: #696F79;
                color: #FFFFFF;
                 font-size: 18px;
            }
         }
   }

}